<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="VideoConnectionString" connectionString="Data Source=PHAPPDEV05;Initial Catalog=VideoDB;Persist Security Info=True;User ID=videouser;Password=vdoUsrPep15" providerName="System.Data.SqlClient"/>
  </connectionStrings>
      <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <identity impersonate="false"/>
        <authentication mode="Windows"/>
        <httpRuntime maxRequestLength="2097152" executionTimeout="3600"  />
    </system.web>

</configuration>
